.container {
  padding: 0 2rem;
}

.title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.fieldGroup {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
}

.submit {
  flex: 1;
}

.results {
  margin-top: 40px;
}
